body{
    background-color: #383F51;
    color: #7D4545;
    text-align: center;
    font-size: 50px;
}
h1{
    font-size: 30px;

}
.piece1 .hori1{
    margin: 3px;
    margin-left: 10px;
    padding: 93px;   
    border: none; 
    color: #7D4545;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 100px; /* Set a fixed height */
    box-sizing: border-box;
    overflow: hidden; /* Ensure content overflow doesn't change the size */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; 
    background-color: #C8B7AC;




}
.piece2 .hori2{
    margin: 3px;
    margin-left: 10px   ;
    padding: 93px;    
    border: none; 
    color: #7D4545;
    width: 200px;
    height: 100px; /* Set a fixed height */
    box-sizing: border-box;
    overflow: hidden; /* Ensure content overflow doesn't change the size */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; 
    background-color: #C8B7AC;
    

}
.piece3 .hori3{
    margin: 3px;
    margin-left: 10px   ;
    border: none; 
    padding: 93px;    
    color: #7D4545;
    border-radius: 5px;
    width: 200px;
    height: 100px; /* Set a fixed height */
    box-sizing: border-box;
    overflow: hidden; /* Ensure content overflow doesn't change the size */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; 
    background-color: #C8B7AC;


}

.piece1{
    width: 100%;
    height: 100%;
}
.piece2{
    width: 100%;
    height: 100%;
}
.piece3{
    width: 100%;
    height: 100%;
}

#reset{
    color: #626B85;
    margin-top: 25px ;
    margin-left: 1px;
    text-align: center;
    padding: 10px;
    background-color: #dddbf1;
    border-radius: 50px;
}

    